<% if @comment.errors.any? %>
  $("#form-comment").html(" <%= j( render 'articles/form' ) %>");
  $($(".field_with_errors")[0]).append("<p class='message'><%= escape_javascript( @comment.errors[:comment].first )%></p>");
  
    <% else %>

  $("#list-comments").html(" <%= j(render 'articles/comments' )%>");
  $("#comment_comment").val('');
  $("div.field_with_errors p.message").remove();
  <% end %>
